@import "~src/styles";

#search {
    padding-top: 2vh !important;
}
#search > input {
    border-radius: 15px !important;
    margin-left: 3vh !important;
    margin-bottom: 2vh !important;
    padding: 1vh !important;
}
.searchBar {
    width: 30vh !important;
}
.countDiv-tolls {
    right: 0vh;
    position: absolute;
    top: 5.5vh;
  }
  .count-tolls {
    font-size: 2.5vh !important;
    font-weight: bold !important;
    text-align: end !important;
    margin-right: 4vh;
    font-family: $play;
  }
#table-wrapper {
    height: 62vh !important;
    overflow: auto;
    border: 1px solid lightgrey;
}
#table-wrapper table thead th .text {
    position: absolute;
    top: -20px;
    z-index: 2;
    height: 20px;
    width: 35%;
}
#buttonColor {
}
.left-align {
    text-align: left !important;
}
.center-align {
    text-align: center !important;
}
.mat-row:hover {
    background-color: #e0f5fd !important;
    cursor: auto !important;
}
.mat-header-cell {
    font-weight: bolder !important;
    color: white !important;
    font-size: 1.9vh !important;
}
.mat-cell {
    font-size: 1.7vh !important;
    font-weight: 500 ;
}
// .clickable {
//     cursor: pointer;
// }
.no-data {
    text-align: center;
    font-size: 2.5vh !important;
    font-weight: bold;
    margin: 15vh;
}
::ng-deep .mat-snackbar {
    background-color: $bg-aqua !important;
    font-size: 2.5vh !important;
    color: white !important;
    .mat-simple-snackbar-action {
        color: #303030 !important;
        flex-shrink: 0 !important;
        margin: -8px -8px -8px 145px !important;
    }
}

.heading {
    font-family: "Russo One", sans-serif !important;
    font-size: 3.5vh !important;
    float: right;
    padding-right: 30px;
    right: 5vh;
    position: relative;
}

.action-button-tolls {
    font-size: 2vh;
    background-color: $bg-aqua;
    color: white;
}
