<div id="audit-logs">
  <div class="row">
    <div class="col-11">
      <b>COSTCASE AUDIT LOGS</b>
    </div>
    <div class="col-1">
      <mat-icon (click)="dialogRef.close()">close</mat-icon>
    </div>
  </div>
  <div >
  <div class="audit-container-costcase table-border">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="deptCode">
        <th mat-header-cell *matHeaderCellDef> DEPT CODE </th>
        <td mat-cell *matCellDef="let element"> {{element.deptCode}} </td>
      </ng-container>

      <ng-container matColumnDef="actionDate">
        <th mat-header-cell *matHeaderCellDef> ACTION DATE </th>
        <td mat-cell *matCellDef="let element"> {{element.actionDate}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> STATUS </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef> COMMENTS </th>
        <td mat-cell *matCellDef="let element"><p> {{element.comments}} </p></td>
      </ng-container>

    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="dataSource.data.length==0" class="no-data">
      NO DATA AVAILABLE
    </div>
  </div>
  </div>