@import "~src/styles";

.hiring-form {
  padding-left: 2vh;
  padding-right: 2vh;
  
}
.toll-mat-icon{
  padding: 11px 0px 0px 0px;
  font-size: 3vh
}

.tr-icon{
  border: 1px solid;
}
.td-icon{
  text-align: center;
  border: 1px solid;
}
.icon-name{
  padding-left: 5px;
  margin-bottom: -3px;
  font-size: 1.5vh;
  font-family: "Play", sans-serif !important;
}
.pending-table-row{
  border:none !important;
}
.formName {
  font-family: $play;
  padding-bottom: 3vh;
}
.name{
  font-size: 4vh;
}
.close{
  float: right;
  cursor: pointer;
}
.standard-button {
  padding: 0vh 8vh !important;
}
.firstRow {
  padding-left: 3vh;
}

b {
  font-size: 3vh;
}

.mat-card {
  height: 77vh;
  overflow: auto;
}

.mat-card:before,
.mat-card:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

.mat-card:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.buttonRow {
  float: right;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.buttonLeft{
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.backButton{
  float: left !important;
  padding: 0 7vh;
}
.nextButton,.previewButton{
  float: right !important;
  padding: 0 7vh;
}

.previewButton:not([disabled]) {
  color: white !important;
  background: $bg-aqua !important;
  float:right;
  border-radius: 30px;
  font-family: $play !important;
}

.mat-raised-button:not([disabled])  {
  background: $bg-aqua !important;
  border-radius: 20px;
  margin-right: 2vh;
  color: white !important;
  padding: 0vh 5vh !important;
  // height: 5vh;
}

.dropdown-field {
  width: 100% !important;
}
::ng-deep .dropdown-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
  border: 1px solid #ced4da !important;
  border-radius: 8px;
  height: calc(1.5em + 0.75rem + 2px) !important;
  border-style: solid !important;
  border-left-width: 6px !important;
  border-radius: 8px !important;
  border-left-color: $bg-aqua ;
  align-items: center !important;
}
::ng-deep .mat-selected {
  color: $bg-aqua !important;
}
::ng-deep .hiring-form .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: unset !important;
  width: unset !important;
}
.form-control {
  border-style: solid !important;
  border-left-width: 6px !important;
  border-radius: 8px !important;
  border-left-color: $bg-aqua ;
}
.form-control.is-invalid,
.select-invalid,
.invalid-text
// ::ng-deep .invalid-datepicker .mat-form-field-wrapper .mat-form-field-flex 
{
  border: 1px #dc3545  !important;
  border-left-color: #dc3545 !important;
  border-style: solid !important;
  border-left-width: 6px !important;
  border-radius: 8px !important;
}

.form-control:active,
.form-control:focus {
  border-right-color: unset !important;
  border-top-color: unset !important;

  border-bottom-color: unset !important;
  box-shadow: unset !important;
}

::ng-deep .cdk-overlay-pane{
align-items: center !important;
}

