<div class="create-request-costcase" *ngIf="showTemplate">
    <mat-card class="create-request-costcase">
        <div class="costcase-form" *ngIf="fields.length>0 && showTemplate">

            <form [formGroup]="costCaseForm" class="needs-validation" novalidate>
                <div class="row">
                    <div *ngFor="let field of fields" class="col-2">
                        <label class="lbl-gap">
                            {{field.field_name}}
                            <strong class="text-danger" *ngIf="field.required">*</strong>
                        </label>
                        <div [ngSwitch]="field.field_type">

                            <!-- text field -->
                            <div class="form-group" *ngSwitchCase="'text'">

                                <input type="text" class="form-control" [name]="field.field_identifier"
                                    [maxlength]="field.field_identifier=='deptCode'?3:200"
                                    [formControlName]="field.field_identifier" [ngClass]="{ 'is-invalid':
                                          submitted && field.required &&
                                          fieldCtrl[field.field_identifier].errors
                                          }" [readOnly]="field.disabled"
                                    (change)="saveData(field.field_identifier,$event.target.value)" disabled="true">

                            </div>
                            <!-- dropdown -->
                            <div class="form-field" *ngSwitchCase="'dropdown'">
                                <mat-form-field class="dropdown-field ">
                                    <mat-select [(value)]="costCaseForm[field.field_identifier]" disabled="true"
                                        [formControlName]="field.field_identifier"
                                        (selectionChange)="dropdownChange(field.field_identifier,$event);saveData(field.field_identifier,$event.value)">
                                        <mat-option *ngFor="let option of field.options" [matTooltip]="option"  [value]="option">{{option}}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>

                            </div>
                            <div class="form-field" *ngSwitchCase="'select-multiple'">

                                <mat-form-field class="dropdown-field ">
                                    <mat-select [(value)]="costCaseForm[field.field_identifier]" disabled="true"
                                        [formControlName]="field.field_identifier"
                                        (selectionChange)="dropdownChange(field.field_identifier,$event)" multiple>
                                        <mat-option *ngFor="let option of field.options" [matTooltip]="option"  [value]="option">{{option}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!-- number -->
                            <div class="form-group" *ngSwitchCase="'number'">

                                <input type="number" class="form-control" [name]="field.field_identifier"
                                    [formControlName]="field.field_identifier" [ngClass]="{ 'is-invalid':
                                          submitted && field.required &&
                                          fieldCtrl[field.field_identifier].errors
                                          }" [readOnly]="field.disabled" disabled="true"
                                    (change)="saveData(field.field_identifier,$event.target.value)" required>
                                <!-- <div *ngIf="submitted &&
                      field.required &&
                      fieldCtrl[field.field_identifier].errors" class="invalid-feedback">
                        <div *ngIf="fieldCtrl[field.field_identifier].errors.required">
                          {{field.field_name}} is required.
                        </div>
                      </div> -->
                            </div>
                            <!-- date -->
                            <div class="form-group" *ngSwitchCase="'date'">
                                <mat-form-field class="datepicker">
                                    <input matInput [matDatepicker]="picker" [name]="field.field_identifier"
                                        [min]="minDate" [formControlName]="field.field_identifier" [ngClass]="{ 'is-invalid':
                                          submitted && field.required &&
                                          fieldCtrl[field.field_identifier].errors
                                          }" readonly="true" [disabled]="true"
                                        (dateChange)="saveData(field.field_identifier,$event.target.value)" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <div *ngIf="submitted &&
                        field.required &&
                        fieldCtrl[field.field_identifier].errors" class="invalid-feedback">
                                        <div *ngIf="fieldCtrl[field.field_identifier].errors.required">
                                            {{field.field_name}} is required.
                                        </div>
                                    </div>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </div>

            </form>
        </div>
        <mat-divider ></mat-divider>
        <app-cost-case-template  [costCaseType]="costCaseType" [actualCostCase]="actualCostCase" 
            [debandValue]="debandValue"></app-cost-case-template>
      <div class="row buttonRowCC" >
        <button type="submit" mat-raised-button class="form-submit submit-button-cc" [disabled]="buttonActions()" 
        (click)="onReject()">Reject</button>
          <button type="submit" mat-raised-button class="form-submit submit-button-cc" [disabled]="buttonActions()"
              (click)="onApprove()">Approve</button>
      </div>
  </mat-card>
</div>
<div *ngIf="!showTemplate">
    <app-loader></app-loader>
  </div>


