@import "~src/styles";

#grbtext {
    font-family: $play;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
   
}
.clickable {
  cursor: pointer;
}
.close-icon {
  margin-left: 96%;
}
#grbtextt {
  font-family: $play;
  padding-top: 10px;
  padding-bottom: 10px;
 
 
}
.header-text {
  font-size: 2.5vh;
  margin-bottom: 1vh;
  font-family: $play;
  text-align: center;
  color: white !important;
  background-color: #50a3c3;
}
.close{
  width: 3%;
  float: right;
  padding-left: 3%;
  padding-top: 5px;
}
#grbbox{
    width: 100%;
    margin-top: 10px;
}

mat-icon {
    cursor: pointer;
   // float: right;
  }

::ng-deep .mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 16px !important;
    box-sizing: border-box;
    //overflow: auto;
    outline: 0;
    width: 100%;
  //  height: 93% !important;
    min-height: inherit;
    max-height: inherit;
  }

.submitButton {
    background: $bg-aqua;
    color: white;
    border-radius: 30px;
    float: right;
    font-family: $play;
    margin-top: 25px;
    margin-right: 30px;
    width: 100px!important;
    min-width: unset!important;
  }



.form-control {
  border-style: solid;
  border-left-width: 6px !important;
  border-radius: 8px !important;
  border-left-color: $bg-aqua !important;
  width:92%;
  float: right;
  margin-right:10px;
  margin-top:5px;
  margin-bottom: 5px;;
 
}

.sub-header-text{
 margin-bottom: 1vh;
  margin-top: 1vh
}

.inputText {
    display: block;
   
   margin-left: 50px;
   padding-left: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.butt{
   // width:10%;
   margin-left: 120px;
   float: right;
   margin-right: 120px;

}

.loading-msg{
    //margin: 10%;
    font-weight: bold;
    font-size: 3.0vh;
    color:$bg-aqua !important;
    text-align: center;
  }
  .imgspin{
    width: 25vh;
    display: block;
  margin-left: auto;
  margin-right: auto;
 // margin-top: 200px;
 margin-top: 195px;
 //margin-left: auto;
  }

  .mat-form-field{
    margin-left:50px !important;
  }
  .row{
    width: 98% !important;
  }