<div class="newgrowth">
  <div class="row">
    <div class="col-11">
      <p class="heading-ccn-pcr" style="text-align: center;font-family:'play'">
        NEW GROWTH- CCN/PCR
      </p>
    </div>
    <div class="col-1">
      <div class="close-icon">
        <mat-icon class="icon" (click)="close()">close</mat-icon>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="enableLoadingMsg">
    <div class="loading-msg loading">
      Loading...
    </div>
  </div> -->
  <div class="row firstRow">
    <div class="textb">
      <label class="lbl-gap">
        CCN/PCR #

      </label>
      <div class="form-field ccnList">
        <mat-form-field class="dropdown-field ">
          <mat-select [(value)]="ccnpcrlist" (selectionChange)="fetchccnlist($event)">
            <mat-option *ngFor="let item of ccnpcrlists" [matTooltip]="item" [value]="item">{{item}}</mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="submitted && hiringForm.controls[field.field_identifier].hasError('required')">
            {{field.field_name}} is required.</mat-error> -->

        </mat-form-field>

      </div>
      <!-- <mat-form-field>
        
        <mat-select [(value)]="ccnpcrlist" (selectionChange)="fetchccnlist($event)">
          <mat-option *ngFor="let item of ccnpcrlists" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>

    <div class="textb">
      <label class="lbl-gap">
        MONTH

      </label>
      <div class="form-field ccnList">
        <mat-form-field class="dropdown-field ">
          <mat-select [(value)]="monthList" (selectionChange)="fetchccnlist($event)">
            <mat-option *ngFor="let item of monthLists"  [matTooltip]="item" [value]="item">{{item}}</mat-option>
          </mat-select>
          

        </mat-form-field>

      </div>
    </div>
    <div class="textb">

      <label class="lbl-gap">
        DEPT CODE

      </label>
      <div class="form-group">

        <input type="text" maxlength="3" class="form-control" [readonly]="enableLoadingMsg" [(ngModel)]="deptCode"
          [disabled]="true">

      </div>

    </div>
    <div class="textb">

      <label class="lbl-gap">
        DEPT NAME

      </label>
      <div class="form-group">

        <input type="text" class="form-control" [(ngModel)]="deptname" [disabled]="true">

      </div>
    </div>
    <div class="textb">

      <label class="lbl-gap">
        FTE UTILIZED

      </label>
      <div class="form-group">

        <input type="text" class="form-control" [(ngModel)]="fteutlized" [disabled]="true">

      </div>
    </div>
    <div class="textb">

      <label class="lbl-gap">
        TOTAL FTE COUNT

      </label>
      <div class="form-group">

        <input type="text" class="form-control" [(ngModel)]="ftecount" [disabled]="true">

      </div>
    </div>
    <div class="textl">

      <label class="lbl-gap">
        TCV
      </label>
      <div class="form-group">

        <input type="text" class="form-control" [(ngModel)]="tcv" [disabled]="true">

      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="tablerow" *ngIf="showTable">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="">


      <ng-container matColumnDef="band3">
        <th mat-header-cell *matHeaderCellDef> BAND 3 </th>
        <td mat-cell *matCellDef="let element">
          <button type="button" [disabled]="element.band3 === 0" (click)="fetchband(element,'3',element.band3)"
            class="btn btn-link">{{element.band3}}</button> </td>
      </ng-container>

      <ng-container matColumnDef="band4">
        <th mat-header-cell *matHeaderCellDef> BAND 4 </th>
        <td mat-cell *matCellDef="let element">
          <button type="button" [disabled]="element.band4 === 0" (click)="fetchband(element,'4',element.band4)"
            class="btn btn-link">{{element.band4}}</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="band5">
        <th mat-header-cell *matHeaderCellDef> BAND 5 </th>
        <td mat-cell *matCellDef="let element">
          <button type="button" [disabled]="element.band5 === 0" (click)="fetchband(element,'5',element.band5)"
            class="btn btn-link"> {{element.band5}} </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="band6">
        <th mat-header-cell *matHeaderCellDef> BAND 6 </th>
        <td mat-cell *matCellDef="let element">
          <button type="button" [disabled]="element.band6 === 0" (click)="fetchband(element,'6',element.band6)"
            class="btn btn-link"> {{element.band6}} </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="band7">
        <th mat-header-cell *matHeaderCellDef> BAND 7 </th>
        <td mat-cell *matCellDef="let element">
          <button type="button" [disabled]="element.band7 === 0" (click)="fetchband(element,'7',element.band7)"
            class="btn btn-link">{{element.band7}}</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="band8">
        <th mat-header-cell *matHeaderCellDef> BAND 8 </th>
        <td mat-cell *matCellDef="let element">
          <button type="button" [disabled]="element.band8 === 0" (click)="fetchband(element,'8',element.band8)"
            class="btn btn-link">{{element.band8}}</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="band9">
        <th mat-header-cell *matHeaderCellDef> BAND 9</th>
        <td mat-cell *matCellDef="let element">
          <button type="button" [disabled]="element.band9 === 0" (click)="fetchband(element,'9',element.band9)"
            class="btn btn-link"> {{element.band9}}</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="band10">
        <th mat-header-cell *matHeaderCellDef> BAND 10 </th>
        <td mat-cell *matCellDef="let element">
          <button type="button" [disabled]="element.band10 === 0" (click)="fetchband(element,'10',element.band10)"
            class="btn btn-link">{{element.band10}}</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> TOTAL </th>
        <td mat-cell *matCellDef="let element2"> {{element2.total}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay2;"></tr>



    </table>

    <div *ngIf="enabledNoDataMsg" class="no-data">
      NO DATA AVAILABLE
    </div>

    <!-- <div class="row">
    <button mat-raised-button (click)="OPRDialog()">Next</button>

  </div> -->
  </div>
  <ngx-spinner bdColor="rgba(251,245,245,0.8)" size="large" color="#50a3c3" type="ball-spin-clockwise"
    [fullScreen]="true"><span class="loading-aqua"
      style="color: #50a3c3;font-size:4vh;font-family:'play';padding-top:11vh;">Loading</span></ngx-spinner>