@import "~src/styles";

.container {
  padding: 2vh;
}

b {
  font-size: 2.5vh;
}
.audit-container-swap {
  height: 58vh;
  overflow: auto;
  margin-top: 2vh;
}
.no-data {
  text-align: center;
  padding-top: 47px;
}
mat-icon {
  cursor: pointer;
  float: right;
}
td.mat-cell {
  text-align: left;
}
th.mat-header-cell {
  text-align: left;
  width: 2%;
}

.loading-msg {
  font-weight: bold;
  font-size: 5vh;
  color: $bg-aqua !important;
  text-align: center;
}
