@import "~src/styles";

.pageHeader {
    text-align: end;
    font-family: 'Russo One', sans-serif !important;
    font-size: 4vh;
    padding-right: 4vh;
    color: white;
}
#bandmix {
    position: relative;
    padding: 2vh;
  
}
.clickable {
    cursor: pointer;
}
.mat-card-bandmix {
    box-shadow: inset -4px 6px 31px -8px rgba(0, 0, 0, 0.75);
    padding: 3vh;
    // border: 2px solid black;
    border-radius: 3vh;
}
.tab-descriptions {
    padding-top: 1.5vh;
    padding-left: 3vh;
}
.loading-msg{
    margin: 6%;
    font-weight: bold;
    font-size: 5.0vh;
    color:$bg-aqua !important;
    text-align: center;
}