@import "~src/styles";

.close-icon {
  margin-left: 80vh;
}

.header-text {
  width: 20vh;
  font-size: 3.2vh;
}
.close{
  cursor: pointer;
}
.rTableRow {
  display: table-row;
}

.rTableCell,
.rTableHead {
  display: table-cell;
  padding: 3px 15px;
}

.input-style {
  width: 30vh;
  border-style: solid !important;
  border-left-width: 6px !important;
  border-radius: 8px !important;
  border-left-color: $bg-aqua;
}

.no-data {
  text-align: center;
  font-size: 2.5vh !important;
  font-weight: bold;
  margin: 15vh;
}

.left-align {
  text-align: left !important;
}

.loading-msg {
  margin: 10%;
  font-weight: bold;
  font-size: 5.0vh;
  color: #0662C2 !important;
  text-align: center;
}

.row-header-height tr.mat-header-row {
  height: 40px !important;
}

.row-height tr.mat-footer-row, tr.mat-row {
  height: 35px !important;
}
