
<div id="logout" role="tooltip">
  <div class="row">
    <div class="col-10 logout-heading">
      <p>Logout</p>
    </div>
    <div class="col-2">
      <mat-icon class="close-logout" (click)="dialogRef.close()">close</mat-icon>
    </div>
  </div>
  <div>
    <div class="logout-text">
      <p>Are you sure you want to logout?</p>
    </div>
    <div class="logout-buttons-row">
      <button type="submit" mat-raised-button class="logout-button" (click)="dialogRef.close()">No</button>
      <button type="submit" mat-raised-button class="logout-button" (click)="logout()">Yes</button>
    </div>
  </div>
</div>