<div id="terms">
  <mat-card class="terms-card">
    <mat-card-header>
      <mat-card-title>Terms & Conditions</mat-card-title>
      <mat-card-subtitle>Last Revised: 29-06-2020</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="termsContent">
      <ul>
        <li>Global Recruitment Board is used for end to end process of hiring in CPS India. </li>
        <li>This Tool contains details of Employee PI (Personal Information) data such as Employee Name, Email Id,
          Gender,Band and Hiring details. PI data is collected in this tool from IBM data systems.</li>
        <li> PI data is uploaded manually on this tool.</li>
        <li> Employee PI data which is collected and stored in the Database is kept confidential and will be obtained
          and used only for Recruitment purpose and will be maintained in accordance with applicable Privacy legislation
          and IBM Privacy policy.</li>
        <li> Employee information will only be made available within IBM on a "need to know basis.</li>
        (Please refer to <a href="https://w3.ibm.com/ibm/privacy/" target="_blank" >Privacy Guidelines</a> for an understanding of IBMs General Privacy Practices.)
      </ul>
    </mat-card-content>
    <mat-card-actions class="termsActions">
      <button mat-raised-button class="termsSubmit" (click)="acceptTerms()">Accept</button>
      <button mat-raised-button class="termsSubmit" (click)="rejectTerms()">Reject</button>

    </mat-card-actions>
  </mat-card>
</div>
